<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico" />

<title>Home</title>

<!-- Bootstrap core CSS -->
<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}" />
</head>

<body>

	<div th:fragment="header">
	
			<ul class="nav justify-content-end" th:fragment="links_header">
				<li class="nav-item"><a class="nav-link" href="https://www.ing.uc.cl/">INGENIERIA</a></li>
				<li class="nav-item"><a class="nav-link" href="https://www.uc.cl">UNIVERSIDAD</a></li>
				<li class="nav-item"><a class="nav-link" href="https://portal.uc.cl">PORTAL UC</a></li>
				<li class="nav-item"><a class="nav-link" href="https://webaccess.uc.cl">CORREO</a></li>
			</ul>
	</div>
	</body>
	</html>