<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico" />

<title>Home</title>

<!-- Bootstrap core CSS -->
<!-- <link href="../static/css/bootstrap.css" rel="stylesheet" -->
<!-- 	th:href="@{/css/bootstrap.css}" /> -->
<!--   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link href="../static/css/dashboard-transit.css" rel="stylesheet"
	th:href="@{/css/dashboard-transit.css}" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>

<body>
<div id="contenedor-principal" class="container-fluid">
<div class="row">
<div class="col-2"></div>
<div class="col-8">
	<nav class="navbar menu-uc-superior">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">
				
<!-- 				LOGO UC -->
				</a>
			</div>
			<div th:replace="header :: links_header"> content here </div>
<!-- 			<ul class="nav justify-content-end"> -->
<!-- 				<li class="nav-item"><a class="nav-link" href="#">INGENIERIA</a></li> -->
<!-- 				<li class="nav-item"><a class="nav-link" href="#">UNIVERSIDAD</a></li> -->
<!-- 				<li class="nav-item"><a class="nav-link" href="#">PORTAL UC</a></li> -->
<!-- 				<li class="nav-item"><a class="nav-link" href="#">CORREO</a></li> -->
<!-- 			</ul> -->
		</div>
	</nav>

	<!-- TITULO -parte morada con fondo raro -->
	<div class="container-fluid content-tittle">
		<div class="row" style="padding-bottom: 60px; margin-top: -30px;">
			<img th:src="@{/img/logo-uc.png}"/>
		</div>
		<div class="row" style="padding-bottom: 60px;">
			<div></div>
			<div style="margin-bottom: 30px;" class="text-left">
				<div class="med">BIENVENIDO AL</div>
				<div class="big">REPORTE DE MOVILIDAD</div>
				<div class="med">URBANO DE CHILE</div>
			</div>
		</div>
		<div class="row" style="padding-bottom: 60px;">
			<div class="sma">Información centralizada y optimizada para
				rapido análisis</div>
		</div>
	</div>

	<!--   CONTENIDO -->
	<div class="container-fluid content-home">

		<!-- <p>Welcome to <span th:text="${appName}">Our App</span></p> -->
		<div class="row">
			<!-- 		<div class="row content"> -->

			<div class="col-1"></div>

			<div class="col-10">
				<!-- 		<form role="form" id="sendRegion" th:action=@{/reportes} method="post"> -->
				<div id="select-home" class="row">
					<div class="col-sm-12 caja-select">
						<div class="row form-group">
							<label for="regionSelect" class="col-8">Selecciona tu
								región para comenzar a explorar la informacion</label> <select
								class="col-4 form-control" id="regionSelect" name="regionSelect">
								<!-- 			    <option th:each="region : ${regiones}" th:value="${region.id}" th:text="${region.nombre}" th:selected="${region.id==regionSeleccionada}"></option> -->
							</select>
						</div>
					</div>
				</div>
				<!-- 			</form> -->
				<!-- 			</div> -->
				<div id="reportes" class="row">
					<!--   			<div th:each="cuadro, rowStat : ${cuadros}" class="col-sm-6"> -->
					<!-- 				<div class="panel panel-default"> -->
					<!-- 					<div class="panel-body"> -->
					<!-- 						<p th:text="${cuadro.valor}">valor</p> -->
					<!-- 						<p th:text="${cuadro.texto}">texto</p> -->
					<!-- 						<p> <a th:href="@{detail(idCuadro=${cuadro.id},idRegion=${regionSeleccionada})}">Ver <span th:text="${cuadro.nombre}">nombre</a></p> -->
					<!-- 					</div> -->
					<!-- 				</div> -->
					<!--   			</div> -->


					<!-- 			<div class="col-sm-6" -->
					<!-- 				th:each="cuadro rowStat: ${cuadros}" -->
					<!-- 				th:style="${rowStat.odd} ? 'color: gray' : 'color: blue;'"> -->
					<!-- 				<div class="panel panel-default"> -->
					<!-- 					<div class="panel-body"> -->
					<!-- 						<p th:text="${cuadro.nombre}">nombre</p> -->
					<!-- 						<p th:text="${cuadro.texto}">texto</p> -->
					<!-- 						<p th:text="${cuadro.valor}">valor</p> -->
					<!-- 					</div> -->
					<!-- 				</div> -->
					<!-- 			</div> -->
				</div>
			</div>

			<div class="col-1"></div>
		</div>
	</div>

	<footer class="container-fluid content-footer">
	<div class="row">
		<div class="col-4">
			<p>¿TIENES UNA SUGERENCIA O SOLICITUD?</p>
		</div>
		<div class="col-4 rojo">
			<div class="row">
				<div class="col-6">
					<a th:href="@{/contacto}">CONTÁCTANOS</a>
				</div>
				<div class="col-6">
					<a th:href="@{/bibliografia}">BIBLIOGRAFÍA</a>
				</div>
			</div>
		</div>
		<div class="col-4">
			<div class="row">
				<div class="col-6">
					<img alt="" class="img-fluid" src="../img/cedeus-transparente.png">
				</div>
				<div class="col-6">
					<img alt="" class="img-fluid" src="../img/BRT-transparente.png">
				</div>
			</div>
		</div>
	</div>
		
	</footer>
</div>
<div class="col-2"></div>
</div>
</div>
	<!-- Bootstrap core JavaScript
================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->

	<!-- 	<script th:href="@{/js/bootstrap.js}"></script> -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!--   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
	<!-- 	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" -->
	<!-- 		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" -->
	<!-- 		crossorigin="anonymous"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

	<script src="/js/dashboard-home.js"></script>

	<script>
		function regionSelect() {
			//display the spinner
			// 		   $('#ajaxLoader').show();

			//first, let's get rid of the default "SELECT" option if it exists
			var defaultOption = $("#regionSelect option[value='default']");
			if (defaultOption)
				defaultOption.remove();

			//get the selected id
			var idRegion = $('#regionSelect').val();

			//get the url for the ajax call
			var url = "./home?idRegion=" + idRegion;

			//do the ajax call
			$.get(url, populateEmployeeInfo);
		}
	</script>
</body>
</html>